<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.reroutlab.code.auav.kernels.auavandroid">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
        ADD API_KEY HERE and make sure you
        are connected to the Internet before
        the app is launched
    -->
    <meta-data
        android:name="com.dji.sdk.API_KEY"
        android:value="99e71979814dea7e6791496c" />

    <service android:name="dji.sdk.sdkmanager.DJIGlobalService" />
    <service android:name="dji.internal.geofeature.flyforbid.FlyforbidUpdateService" />

    <!-- Required for receiving GEO system pushing. -->
    <service android:name="dji.sdk.sdkmanager.GeoSyncFileService" />

    <!--
         Required for receiving accessory attachment events.
        This is necessary for product when connecting over USB.
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>